name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  bats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup jq
        uses: dcarbone/install-jq-action@v3

      - name: Setup Bats and bats libs
        uses: bats-core/bats-action@3.0.1

      - name: Run BATS (JUnit)
        shell: bash
        run: |
          bats --formatter junit --print-output-on-failure tests/ > junit.xml

      - name: Upload JUnit report
        uses: actions/upload-artifact@v4
        with:
          name: junit-report
          path: junit.xml
